footer.page-footer
			.container
				.row
					.col.l6.s12
						h5.white-text Footer Content
						p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
					.col.l4.offset-l2.s12
						h5.white-text Links
						ul
							li
								a.grey-text.text-lighten-3(href="#!") Link 1
							li
								a.grey-text.text-lighten-3(href="#!") Link 2
							li
								a.grey-text.text-lighten-3(href="#!") Link 3
							li
								a.grey-text.text-lighten-3(href="#!") Link 4
			.footer-copyright
				.container
					| © 2014 Copyright Text
					a.grey-text.text-lighten-4.right(href="#!") More Links